<fieldset class="half-width">
  <legend data-tooltip="{{localize 'torgeternity.sheetLabels.inputExistingTooltip'}}">Bonus</legend>
  <div class="skill-check-options flexrow">
    <label>{{~localize 'torgeternity.sheetLabels.inputExisting'~}}
      <input type="number" data-dtype="Number" name="bonus"
        data-tooltip="{{localize 'torgeternity.sheetLabels.inputExistingTitle'}}"
        placeholder="???" value="{{test.bonus}}" />
    </label>
  </div>
</fieldset>