<div class="threat-avatar image-container">
  <img src="{{document.img}}" class="profile-img" data-edit="img" data-tooltip="{{document.name}}"
    {{#if editable}}data-action="editImage" {{/if}} />
  <a class="hover-icon" data-action="showImage" , data-tooltip="SIDEBAR.CharArt">
    <i class="fa-solid fa-image sa-fw"></i></a>
</div>